body {
  background-color: white;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
}
.main {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  position: relative;
  height: 95vh;
  width: 100%;
  background-color: white;
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 90px 60px, 100px 100px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-bottom: 40px;
  height: 95vh;
  width: 100%;
}
.item1,
.item2,
.item3 {
  padding: 10px;
  margin-top: 30px;
  /* background-color: #ca8c8c; */
  box-shadow: 0 5px 15px 0 rgb(202, 200, 200);
  height: 250px;
  flex-basis: auto;

  border-radius: 4px;
  cursor: pointer;
}
.item2 {
  background-color: rgb(133, 133, 219);
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(232, 13%, 33%);
  margin-bottom: 20px;
}
.price {
  font-size: 40px;
  color: hsl(232, 13%, 33%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 7px;
  margin: 0px 20px;
  border-bottom: 0.5px solid hsl(234, 14%, 74%);
}
.font {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(232, 13%, 33%);
  padding: 5px;
  font-weight: 700;
  margin: 0px 20px;
  border-bottom: 0.1px solid hsl(234, 14%, 74%);
}
.btn {
  border: none;

  margin-top: 10px;
  width: 150px;
  color: white;
  height: 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 3px;
  background-image: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}
.btn2 {
  border: none;
  margin-top: 10px;
  width: 150px;
  color: white;
  height: 20px;
  cursor: pointer;
  font-size: 15px;
  background-color: white;
  color: hsl(237, 63%, 64%);
  border-radius: 3px;
}
.btn:hover {
  background-image: linear-gradient(to bottom right, #fff, #fff);
  border: 2px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}
.btn2:hover {
  background-image: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border: 1px solid hsl(237, 63%, 64%);
  color: white;
}
.fontWhite {
  color: black;
}
.backgroundwhite {
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
}
.fontBlue {
  color: hsl(232, 13%, 33%);
}
.header {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(232, 13%, 33%);
  padding-top: 5px;
}
.toggle {
  position: relative;
  margin-top: 20px;
}
.toggle input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.toggle .onoff {
  display: inline-block;
  color: hsl(234, 14%, 74%);
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: hsl(234, 14%, 74%);
  transition: 0.4s;
  width: 50px;
  top: 10px;
  height: 29px;
  border-radius: 30px;
}
.slider::before {
  content: "";
  position: absolute;
  left: 0;
  height: 25px;
  margin: 2px;
  width: 25px;
  background-color: white;
  border-radius: 40px;
  transition: 0.4s;
}

@media (max-width: 675px) {
  .item1 {
    margin: 2px;
    margin-top: 10px;
  }
  .item2 {
    margin: 2px;
    margin-top: 10px;
  }
  .item3 {
    margin: 2px;
    margin-top: 10px;
  }
}
